
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* .red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  width: 50%;
  margin: auto;
  color: aliceblue;
}

.d3 {
  margin-left: 20px;
} */